<% provide :title, t(".title") %>
<h1 class="mb-40"><%= t ".about" %></h1>
<p>
  <%= t ".text-about1" %> <a href="http://www.railstutorial.org/"><em><%= t ".text-about2" %></em></a> <%= t ".text-about3" %>
  <a href="http://www.railstutorial.org/book"><%= t ".text-about4" %></a> <%= t ".text-about5" %>
  <a href="http://screencasts.railstutorial.org/"><%= t ".text-about6" %></a>
 <%= t ".text-about7" %>
  <a href="http://rubyonrails.org/"><%= t ".text-about8" %></a>.
  <%= t ".text-about9" %>
</p>
