<% provide :title, t(".title") %>
<h1 class="mb-40"><%= t ".help" %></h1>
  <%= t ".text-help1" %>
  <a href="http://www.railstutorial.org/#help"><%= t ".text-help2" %></a>.
  <%= t ".text-help3" %>
  <a href="http://www.railstutorial.org/book"><em><%= t ".text-help4" %></em></a>.
</p>
