<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>

  <h2><%= t ".homepage1" %>
      <a href="http://www.railstutorial.org/"><%= t ".name_link" %></a>
      <%= t ".homepage2" %>
  </h2>

  <%= link_to t(".btn-signup"), signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), "http://rubyonrails.org/" %>
