<footer class="footer">
  <small>
    <%= t ".text-footer1" %> <a href="http://www.railstutorial.org/"><%= t ".text-footer2" %></a>
    <%= t ".text-footer3" %> <a href="http://www.michaelhartl.com/"><%= t ".text-footer4" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t ".new" %></a></li>
    </ul>
  </nav>
</footer>
